# Public, browser-safe Supabase values. Never add a service-role key here.
NEXT_PUBLIC_SUPABASE_URL=https://xtabwykzptvsfjwbpxtp.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_IcYAjORp_HnGanh8ROtFuQ_KoPsRCTp
GITHUB_APP_ID=5095225
GITHUB_CLIENT_ID=Iv23liv7ru0KxXEAdl56
GITHUB_CLIENT_SECRET=dc50c1827fadb6fbfb2356d89725fdea47a74a26
GITHUB_WEBHOOK_SECRET=65Q5BnkkSYbAHbl2ow8t9xcAMQTkKto+zgoIKCeyL6I=
GITHUB_PRIVATE_KEY=MIIEowIBAAKCAQEAru09Hiay5nOmFgqmw7CNTNpGSq92v4QEPQmNPUEeK4OQWHr6
rD1jTsiFxmxd9uoo08L2z4PVIU9iBrbcw9P7O4JPhOFaQv2ZFSZxL6cM21UUsJGy
yhcs58hrmwZvQjr3JrKlCJZ0w6tKoN76pwp7OoGPESvmzUo0kTKrJNpaTTkeTJUK
DMoC5HiC+coBYZO31ZTSE9gdS1u9Bk6ESxk9EN8jPf2NBrK1KfAaK+gd9rQwMwPg
tSmnln4carAv2AKOOn73nkLxn2HPEGzrvQG45khwva3KBALCJDD0U+qJwctk3N9J
XeS/SueyOVGN4EEWEYQuumfZhwRrD0z++qdOEQIDAQABAoIBAEJG8vQ8l2YHhXMu
f/b/KtpmjWF4z9ZKb8yslM4ToRm9lHBh0B54d+r+wOjoYEXQfL2XTipb+eHQEQUY
PdcYt0TZ38UqGSfurBS+Zv42HgHwX5Fy8rntQ/9iCZtIOdlvO/t2jl8NmpoUiYcg
VPn7V6tYMVvBNYasyfQFraCd9r7w96jJbDRjiEmsongDtSU1sReQfy5j/V9iQzoT
o1OnZDxPsJ/l+zzMrGslC4dtCCmotdM1Xuej6jKskBfRFVBPpsqVU7qstEtLJT6V
A5eXcnrHpY4YhVHU4vMNNGfAHZO7Uic2Iw/4NSIWQsV7ZDJS9weuhIOowHtinFkD
Mam3QR0CgYEA4OuiI4EntZb5VV4TzMDAxqXwoB0uxpWowpZLCuFTKPs4N29Wrkcw
7BL4pakqEzYfQN5VOecEPW5JZRULcH8SjgJGlQ9gkwubdgoCsQ4TGmBk6spzYTBN
qGZ92GNKnIcZraZ5j7SXnUQKeu0SMRHvimFMiwAtBWAcvI6Obc01sicCgYEAxxke
z0SiQ5ljImJ1z0D8nF2YjuLNoZsX9JalOAlRtCqPlKSc63uZEqa4X5us+9O3xtMo
10VhLn/Ew/2t7ppc+SexTd3Xe5QUXbAW17bewx69LZP8hsNAQ1ddMZnfox/xDJ9w
mWFt/SVgcxYetGkLdOr6GVav3OdLEeHGDicNeQcCgYEAlyL/UqhJDKakaI7M8zta
zqFW7eBuPBb4zbi8OFVs0g7tmaKBNp6z6w5ccsUXds1ZdvdvgXcQzE69luTrSO66
gx5YW3V3yZd1IX5cjKkOgRzg8zyTB22z4ULtsWgXDNNjl+JTsRMDBjRgbnW7Uanh
srTrAERf/Eq3RKTuZC4OtOUCgYBwinWM6ZnjJjAQPqGjPnPMG2fh1Lgxkk6PNhw8
OaBSfABfIFGHFn1nOpBbks7MJlfqbm/Wh2QweY6KzrljdyP4voQNpMlqFEES2DeB
ReBTYOvEeLM0peeMaTTHldgBCEwkO3fVa2pVvqvvQeCnT/1m4G/wpLyR3Lflar6e
P1rxPwKBgC/lNmsAKDPz1mz1I1bp8AwqG5UA6NFIFDJJZ9dRkKgxa97rahpCuY0q
bdGb/TzOzoxNQUq2c/5deTXoEji2MjMXxWaxLOgIAk5IHrHugDdp2GhAlXnwT6Tg
FrHeYorfxrUw49gn1+NArGbO4GQxyecjXGZVTrgoz4WjQMjYV5IB